<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ECS639 Web Programming - Group CW</title>
    {% block header_css %} {% endblock %}
</head>

<body>
  {% if request.path == '/profile/' or request.path == '/users/' %}
  <div id="app">
    <script type="module" src="/src/main.ts"></script>
  </div>
  {% endif %}
  <div class="content">
    {% block content %}
    {% endblock %}
    {% block js %}
    {% endblock %}
  </div>
  {% if request.path != '/profile/' and request.path != '/users/' and request.path != '/login/' and request.path != '/signup/' %}
  <div class="fs-2 d-flex flex-column vh-100 align-items-center justify-content-center">
    <p>Welcome to our Hobbies Web App!</p>
    <div>
      <button class="btn btn-primary fs-4 me-3" onclick="window.location = '/login/'"> Log In </button>
      <button class="btn btn-primary fs-4" onclick="window.location = '/signup/'"> Sign Up </button>
    </div>
  </div>
  {% endif %}
</body>

</html>